body {
    background-color: #E0F8FF;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-left: 2rem;
    padding-right: 2rem;
    min-height: 100vh;
    color: #477785;
}


header {
    display: flex;
    font-family: Playfair Display, serif;
    align-items: baseline;
    margin-bottom: 6rem;
}


header h1 {
    margin-right: 4rem;
    font-size: 2rem;
}


header h2 {
    font-size: 1.2rem;
}


footer {
    padding-bottom: 2rem;
    display: flex;
}


footer a {
    font-weight: 700;
    color: inherit;
}


.container {
    flex-grow: 1;
    padding: 0 12rem;

}


.shortLink {
    display: flex;
    height: 100%;
    width: 100%;
}


.shortLinkWrapper {
    display: none;
}


.linkText {
    background-color: #C9E5ED;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.5rem;
    padding: 20px;
}


form {
    display: flex;
    max-width: 40rem;
}


input {
    outline: none;
    display: block;
    border: none;
    padding: 20px;
    margin-right: 0.5rem;
    flex-grow: 1;
}


.error {
    height: 16px;
    margin-top: 16px;
}


.errorMessage {
    color: red;
    display: none;
    margin: 0;
}


button {
    background-color: #477785;
    color: white;
    display: block;
    align-items: center;
    border: none;
    padding: 20px 30px;
    cursor: pointer;
    transition: background-color 0.3s;
}


button:hover {
    background-color: #79AAB9;
}


.roboto {
    font-size: medium;
}


.robotoBold {
    font-weight: 700;
    font-size: medium;
}


@media screen and (max-width: 600px) {
    header {
        flex-direction: column;
    }

    .container {
        padding: 0;
    }

    form {
        flex-direction: column;
    }

    input {
        margin: 0;
        margin-bottom: 0.5rem;
    }

    .shortLink {
        flex-direction: column;
    }

    .linkText {
        margin: 0;
        margin-bottom: 0.5rem;
    }
}