body {
    background-color: #E0F8FF;
}

header {
    display: flex;
    margin-left: 3rem;
    align-items: baseline;
    margin-bottom: 2rem;
    color: #477785;
}

header h1 {
    margin-left: 1rem;
}

.formContainer {
    width: 15vw;
}

.formContainer p {
    color: #477785;
}

form {
    display: flex;
    
}

button {
    background-color: #477785;
    color: white;
}