body {
    background-color: #E0F8FF;
}

.container {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

header {
    display: flex;
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;
    align-items: baseline;
    margin-bottom: 2rem;
    color: #477785;
}

header h1 {
    margin-right: 4rem;
}

.formContainer {
    width: 15vw;
}

.formContainer p {
    color: #477785;
}

form {
    display: flex;
    
}

button {
    background-color: #477785;
    color: white;
}