body {
    background-color: #E0F8FF;
    font-family: Roboto, sans-serif;
}


.container {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}


header {
    display: flex;
    font-family: Playfair Display, serif;
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;
    align-items: baseline;
    margin-bottom: 6rem;
    color: #477785;
}


header h1 {
    margin-right: 4rem;
    font-size: 2rem;
}


header h2 {
    font-size: 1.2rem;
}


.formContainer {
    width: 15vw;
    margin-bottom: 10vh;
}


p {
    color: #477785;
}


.shortLinkContainer {
    display: none;
    color: #477785;
}


.shortLink {
    display: flex;
    height: 100%;
    width: 100%;
}


.linkText {
    background-color: #C9E5ED;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.5vw;
}


form {
    display: flex;
}


input {
    outline: none;
    border: none;
    min-width: 18vw;
    padding-left: 1rem;
    max-height: 100%;
    margin-right: 0.5vw;
}


.error {
    height: 16px;
    margin-top: 16px;
}


.errorMessage {
    color: red;
    display: none;
    margin: 0;
}


button {
    background-color: #477785;
    color: white;
    display: block;
    align-items: center;
    border: none;
    padding: 20px 30px;
    cursor: pointer;
    transition: background-color 0.3s;
}


button:hover {
    background-color: #79AAB9;
}


.roboto {
    font-size: medium;
}


.robotoBold {
    font-weight: 700;
    font-size: medium;
}